<div class="container">
  <div class="password-bar">
    <div class="password-text">
      {{ generatedPassword }}
    </div>
    <div class="copy-button">
      <button (click)="copyToClipboard()">Copy</button>
    </div>
    <div class="regenerate-button">
      <button (click)="generateNewPassword()">Regenerate</button>
    </div>
  </div>
  <hr />
  <div class="password-options">
    <div>Configure your password</div>
    <hr />

    <div class="options">
      <label>
        <input
          type="checkbox"
          [checked]="uppercase"
          (change)="handleUppercaseValue($event)"
        />
        Uppercase
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="lowercase"
          (change)="handleLowercaseValue($event)"
        />
        Lowercase
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="numbers"
          (change)="handleNumbersValue($event)"
        />
        Numbers
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="symbols"
          (change)="handleSymbolsValue($event)"
        />
        Symbols
      </label>
    </div>

    <div class="length">
      <label>
        Length:
        <input
          type="range"
          min="6"
          max="48"
          (input)="valueChanged($event)"
          ngModel="passwordLength"
        />
        <span>{{ passwordLength }}</span>
      </label>
    </div>

    <div class="generate-button">
      <button (click)="generateNewPassword()">Generate Password</button>
    </div>

    <div class="copy-button">
      <button (click)="copyToClipboard()">Copy Password</button>
    </div>
  </div>
</div>
